<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb clear-padding-vertical">
		<li><a href="#">首页</a></li>
		<li><a href="teacherList">教师信息</a></li>
	</ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container">
	<!-- 检索 start -->
	<div class="row search-wrap">
		<div class="col-sm-8 col-lg-8">
			<form [formGroup]="searchForm" id="searchForm" method="post" class="form-inline" action="#">
				<div class="input-group" >
					<span class="input-group-addon">年级</span>
					<select class="form-control" formControlName="grade" id="gradeFilterValue" [(ngModel)]="grade">
						<option value=""></option>
						<option *ngFor="let grade of properties.grades" >{{grade.name}}</option>
					</select>
				</div>
				<div class="input-group">
					<span class="input-group-addon">学科</span>
					<select class="form-control" formControlName="subject" id="subjectFilterValue" [(ngModel)]="subject">
						<option value=""></option>
                        <ng-container *ngFor="let g of properties.grades">
                            <ng-container *ngIf="g.name === grade">
                                <option *ngFor="let subject of g.subjects" >{{subject.name}}</option>	
                            </ng-container>
                        </ng-container>
					</select>
				</div>
				<div class="input-group">
					<span class="input-group-addon">账号</span>
					<select class="form-control" formControlName="role" id="typeFilterValue" [(ngModel)]="role">
						<option value=""></option>
						<option *ngFor="let role of properties.roles">{{role.name}}</option>
					</select>
				</div>
				<div class="input-group">
					<input type="text" class="form-control" formControlName="teacherNameId" id="teacherNameIdFilterValue" [(ngModel)]="teacherNameId" placeholder="请输入教师姓名或手机号">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" (click)='filter($event)'>查询</button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-sm-4 col-lg-4 text-right">
			<div class="btn-group btn-group-justified" role="group" aria-label="button group">
				<a [routerLink]="['/addTeacher']" id="addTeacherInfoBtn" class="btn btn-default" title="添加教师信息">添加教师</a>
				<a (click)='removeTeacher($event)' class="btn btn-default" title="删除教师信息">删除教师</a>
				<a class="btn btn-default" title="批量导入教师信息" (click)="addTeacherBatch()">批量导入</a>
				<a href="#" class="btn btn-default" title="发送短信">发送短信</a>
			</div>
		</div>
	</div>
	<!-- 检索 end -->
	<br/>
	<!-- 表格 start -->
	<div>
			<ngx-datatable
			style="width: 100%"
			class="material striped"
			[rows]="rows"
			[columns]="columns"
			[columnMode]="'flex'"
			[headerHeight]="50"
			[footerHeight]="50"
			[rowHeight]="'auto'"
			[selected]="selected"
			[selectionType]="'checkbox'"
			[limit]="10">
			<ngx-datatable-column
			[headerCheckboxable]="true"
			[checkboxable]="true" [flexGrow]="1">					
			</ngx-datatable-column>
			<ngx-datatable-column prop="teacherName" name="姓名" [flexGrow]="2"></ngx-datatable-column>
			<ngx-datatable-column prop="teacherId" name="电话" [flexGrow]="4"></ngx-datatable-column>
			<ngx-datatable-column prop="subjects" name="学科" [flexGrow]="2"></ngx-datatable-column>
			<ngx-datatable-column prop="classes" name="授课班级" [flexGrow]="10"></ngx-datatable-column>
			<ngx-datatable-column prop="roles" name="账号类型" [flexGrow]="4"></ngx-datatable-column>
			<ngx-datatable-column name="操作" [flexGrow]="4">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<a [routerLink]="['/updateTeacher', row]" id="updateTeacherInfoBtn" href="#" class="btn btn-default" title="修改">修改</a>
					<a id="stopTeacherInfoBtn" href="#" class="btn btn-default" title="停用">停用</a>
				</ng-template>
			</ngx-datatable-column>
			</ngx-datatable>
	</div>
	<!-- 表格 end -->
</div>
<!-- 内容 end -->			