<div class="col-sm-12 col-lg-12">
  <form id="editExamForm" method="post" class="form-inline" action="#">
    <div class="input-group">
      <span class="input-group-addon">年级</span>
      <select class="form-control">
        <option></option>
        <option>高一</option>
        <option>高二</option>
        <option>高三</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">科目</span>
      <select class="form-control">
        <option>语文</option>
        <option>数学</option>
        <option>数学(文)</option>
        <option>英语</option>
        <option>物理</option>
        <option>化学</option>
        <option>生物</option>
        <option>政治</option>
        <option>历史</option>
        <option>地理</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">题目</span>
      <select class="form-control">
        <option>选择题目</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">得分</span>
      <select class="form-control">
        <option selected="selected"></option>
      </select>
    </div> 至
    <div class="input-group">
      <span class="input-group-addon">得分</span>
      <select class="form-control">
        <option selected="selected"></option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">阅卷教师</span>
      <select class="form-control">
        <option selected="selected"></option>
      </select>
    </div>
    <div class="input-group">
      <a href="#" class="btn btn-default" title="查询">查询</a>
    </div>
  </form>
</div>
