<div class="row">
  <mark-select (selectResult)="selectResult($event)" [marks]="marks" [selectAll]="true"></mark-select>
</div>

<div class="table-responsive" data-pattern="priority-columns">
  <table class="table table-hover table-bordered text-center">
    <thead>
    <tr>
      <th>科目</th>
      <th>阅卷进度</th>
      <th>阅卷开始时间</th>
      <th>阅卷结束时间</th>
      <th>阅卷用时</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let mark of filteredMarks">
      <tr *ngFor="let egs of mark.egs">
        <td>
          <a [routerLink]="['/data/mark/markDetails', {metrics: stringify(egs.metrics)}]">{{egs.subName}}</a>
        </td>
        <td>
          <div class="progress clear-margin-bottom">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': egs.progress}">
              {{egs.progress}}
            </div>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
