<div class="col-sm-12 col-lg-12">
  <div class="form-inline">
    <div class="input-group">
      <span class="input-group-addon">学校</span>
      <span>{{exam}}</span>
    </div>
    <div class="input-group">
      <span class="input-group-addon">年级</span>
      <select class="form-control" [(ngModel)]="selectedGrade">
        <option *ngFor="let grade of gradesubjects" [ngValue]="grade">{{grade.grade}}</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">学科</span>
      <select class="form-control" [(ngModel)]="selectedSubject" (change)="setFiltetedTasks()">
        <option *ngFor="let subject of selectedGrade?.subjects" [ngValue]="subject">{{subject.subName}}</option>
      </select>
    </div>


  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>题号</th>
      <th>题型</th>
      <th>任务分配方式</th>
      <th>阅卷模式</th>
      <th>阅卷负责人</th>
      <th>阅卷老师</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task.question.questionName}}</td>
        <td>{{task.question.type}}</td>
        <td>平均</td>
        <td>{{task.finalMarkTeachersIds.length>0 ? '双评' : '单评'}}</td>
        <td></td>
        <td>{{getTeachers(task)}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
