<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="../">首页</a></li>
		<li><a href="selectsubject;type=answers">考试中心</a></li>
		<li class="active" *ngIf="type === 'answers'">答案设置</li>
		<li class="active" *ngIf="type === 'task'">任务分配</li>
	</ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container container-sm">
	<!-- 检索 start -->
	<div class="row margin-bottom-lg">
		<div class="col-sm-12 col-lg-12">
			<div class="form-inline" >
				<div class="input-group" >
					<span class="input-group-addon">考试</span>
					<select class="form-control" id="examFilterValue" (change)="getExam($event)">
						<option value="0" selected>请选择一场考试</option>
						<option *ngFor="let exam of exams" value={{exam.id}}>{{exam.examName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<!-- 检索 end -->
	<div id="editGradeDetailsForm" class="form-horizontal" *ngIf="examSelected">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="clear-margin"><strong>选择科目：</strong></h4>
			</div>
			<hr>
			<div class="panel-body">
				<div class="form-group" *ngFor="let grades of gradesubjects">
					<label for="" class="col-sm-3 control-label"><strong>{{grades.grade}}：</strong></label>
					<div class="col-sm-9 btn-toolbar">
						<div class="extra btn-group" data-toggle="buttons" *ngIf="type === 'answers'">
							<ng-container *ngFor="let subject of grades.subjects">
								<button class="btn btn-primary" (click)="setAnswers(grades.id, subject.id, false)" [disabled]="subject.answerSeted !== '0'">{{subject.subName}}</button>
							</ng-container>
						</div>
						<div class="extra btn-group" data-toggle="buttons" *ngIf="type === 'task'">
							<ng-container *ngFor="let subject of grades.subjects">
								<button class="btn btn-primary" (click)="setTasks(grades.id, subject.id, false)" [disabled]="subject.answerSeted !== '0'">{{subject.subName}}</button>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-heading">
				<h4 class="clear-margin"><strong>已设置科目：</strong></h4>
			</div>
			<hr>
			<div class="panel-body">
				<div class="form-group" *ngFor="let grades of gradesubjects">
					<label for="" class="col-sm-3 control-label"><strong>{{grades.grade}}：</strong></label>
					<div class="col-sm-9 btn-toolbar">
							<div class="extra btn-group" data-toggle="buttons" *ngIf="type === 'answers'">
								<ng-container *ngFor="let subject of grades.subjects">
									<a class="btn btn-default" (click)="setAnswers(grades.id, subject.id, false)" *ngIf="subject.answerSeted === '1'">{{subject.subName}}</a>
								</ng-container>
							</div>
							<div class="extra btn-group" data-toggle="buttons" *ngIf="type === 'task'">
								<ng-container *ngFor="let subject of grades.subjects">
									<a class="btn btn-default" (click)="setTasks(grades.id, subject.id, false)" *ngIf="subject.answerSeted === '1'">{{subject.subName}}</a>
								</ng-container>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 内容 end -->
