        <!-- 路径导航 start -->
        <div class="container-fluid container-breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="welcome">首页</a></li>
                    <li class="active">考试中心</li>
                    <li class="active">线上阅卷</li>
                </ol>
            </div>
        </div>
        <!-- 路径导航 end -->

         <!-- 内容 start -->
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="main-title btn btn-default">阅卷任务：</h4>
                </div>
                <hr>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3" *ngFor="let mark of marks">
                            <a [routerLink]="['/mark', {questionList: getQuestionList(mark.subject), markType: mark.markType, composable: mark.summary[0].composable, question: getQuestion(mark.summary[0].quesid, mark.summary[0].questionName), egsId: mark.egsId}]">
                                <dl class="widget text-center">
                                	<ng-container *ngIf="mark.markType !== '标准'">
	                                    <div class="triangle-bottom-right warning"></div>
	                                    <small class="triangle-bottom-right-text">疑点</small>
                                    </ng-container>
                                    <dt>{{mark.examName}}</dt>
                                    <dd class="content table-cell vertical">
                                        <h1 *ngIf="mark.markType !== '标准'">{{mark.summary[0].questionName}}题 {{mark.markType}}</h1>
                                        <h1 *ngIf="mark.markType === '标准'">{{mark.summary[0].questionName}}</h1>
                                    </dd>
                                    <dd>
                                        <ul class="list-inline text-muted clear-margin">
                                            <li *ngIf="mark.markType === '标准'">{{mark.summary[0].questionType}}</li>
                                            <li>{{mark.grade}} {{mark.subject}}</li>
                                        </ul>
                                    </dd>
                                </dl>
                            </a>
                            <ng-container *ngIf="mark.markType !== '标准'">
                                <div class="progress" style="text-align: center">{{getTotal(mark.progress)}}份</div>
                            </ng-container>
                            <ng-container *ngIf="mark.markType === '标准'">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: getProgress(mark.progress)}">
                                        {{getProgress(mark.progress)}}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 内容 end -->
