<!-- 路径导航 start -->
<div class="container-fluid container-breadcrumb">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="../">首页</a></li>
			<li><a href="selectsubject;type=task">考试中心</a></li>
			<li class="active">任务分配</li>
		</ol>
	</div>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container container-sm container-task-allocation">
	<form class="form-horizontal">
		<ng-container *ngFor="let subjective of subjectives">
			<div class="panel panel-default clear-margin" *ngIf="subjective.id === currentSubjectiveId" >
				<div class="panel-body margin-bottom-lg border-bottom">
					<div class="form-group">
						<label for="number" class="col-sm-3 control-label">题号：</label>
						<div class="col-sm-9 form-inline clearfix">
							<select id="u6022_input" class="form-control">
								<ng-container *ngFor="let sub of subjectives">
									<option *ngIf="sub.id === currentSubjectiveId" selected="selected" value="{{sub.id}}">
										{{sub.start}}
										<ng-container *ngIf="sub.type === 4">
											- {{sub.end}}
										</ng-container>
									</option>
									<option *ngIf="sub.id !== currentSubjectiveId" value="{{sub.id}}">
										{{sub.start}}
										<ng-container *ngIf="sub.type === 4">
											- {{sub.end}}
										</ng-container>
									</option>
								</ng-container>
							</select>
							<div class="input-group pull-right">
								<a class="btn btn-link"><i class="glyphicon glyphicon-cog"></i></a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="number" class="col-sm-3 control-label">题型：</label>
						<div class="col-sm-9 form-inline">
							<select id="subjective_type_{{subjective.id}}" class="form-control" (change)="onSubjectiveValueChange('type',subjective.id,0)">
								<option *ngIf="subjective.type === 4" selected="selected" value="4">填空题</option>
								<option *ngIf="subjective.type !== 4" value="4">填空题</option>
								<option *ngIf="subjective.type === 5" selected="selected" value="5">解答题</option>
								<option *ngIf="subjective.type !== 5" value="5">解答题</option>
								<option *ngIf="subjective.type === 6" selected="selected" value="6">证明题</option>
								<option *ngIf="subjective.type !== 6" value="6">证明题</option>
								<option *ngIf="subjective.type === 7" selected="selected" value="7">论述题</option>
								<option *ngIf="subjective.type !== 7" value="7">论述题</option>
								<option *ngIf="subjective.type === 8" selected="selected" value="8">作文题</option>
								<option *ngIf="subjective.type !== 8" value="8">作文题</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">任务分配方式：</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<ng-container *ngIf="subjective.dmode === 1">
									<input type="radio" name="dmode" value="1" checked="checked"> 平均
								</ng-container>
								<ng-container *ngIf="subjective.dmode !== 1">
									<input type="radio" name="dmode" value="1"> 平均
								</ng-container>
							</label>
							<label class="radio-inline">
								<ng-container *ngIf="subjective.dmode === 2">
									<input type="radio" name="dmode" value="2" checked="checked"> 动态
								</ng-container>
								<ng-container *ngIf="subjective.dmode !== 2">
									<input type="radio" name="dmode" value="2"> 动态
								</ng-container>
							</label>
							<label class="radio-inline">
								<ng-container *ngIf="subjective.dmode === 3">
									<input type="radio" name="dmode" value="3" checked="checked"> 比例
								</ng-container>
								<ng-container *ngIf="subjective.dmode !== 3">
									<input type="radio" name="dmode" value="3"> 比例
								</ng-container>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">阅卷模式：</label>
						<div class="col-sm-9 form-inline">
							<label class="radio-inline">
								<ng-container *ngIf="subjective.mmode === 1">
									<input type="radio" name="mmode" value="1" checked="checked"> 单评
								</ng-container>
								<ng-container *ngIf="subjective.mmode !== 1">
									<input type="radio" name="mmode" value="1"> 单评
								</ng-container>
							</label>
							<label class="radio-inline">
								<ng-container *ngIf="subjective.mmode === 2">
									<input type="radio" name="mmode" value="2" checked="checked"> 双评
								</ng-container>
								<ng-container *ngIf="subjective.mmode !== 2">
									<input type="radio" name="mmode" value="2"> 双评
								</ng-container>
							</label>
							<div class="input-group pull-right">
								<a class="btn btn-link"><i class="glyphicon glyphicon-time"></i></a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">阅卷时间：</label>
						<div class="col-sm-9 form-inline">
							<div class="input-group">
								<input type="text" class="form-control" size="5" placeholder="最小时长" value="{{subjective.time}}">
								<span class="input-group-addon">秒</span>
							</div>
						</div>
					</div>
					<div class="form-group" *ngIf="subjective.mmode === 2">
						<label for="" class="col-sm-3 control-label">设定双评时的分差：</label>
						<div class="col-sm-9 form-inline">
							<input type="text" class="form-control" size="5" placeholder="两次评分最大差距" value="{{subjective.score}}">
						</div>
					</div>
				</div>
				<div id="singelContent" class="panel-body" *ngIf="subjective.mmode === 1">
					<div class="form-group">
						<label for="number" class="col-sm-3 control-label">阅卷教师选择：</label>
						<div class="col-sm-9 form-inline clearfix">
							<select id="pre_groups" class="form-control">
								<ng-container *ngFor="let group of groups">
									<ng-container *ngIf="subjective.pre.group === group.id">
										<option selected="selected" value="{{group.id}}">{{group.name}}</option>
									</ng-container>
									<ng-container *ngIf="subjective.pre.group !== group.id">
										<option value="{{group.id}}">{{group.name}}</option>
									</ng-container>
								</ng-container>
							</select>
							<select id="pre_all" class="form-control">
								<ng-container *ngIf="subjective.pre.all">
									<option value="1" selected="selected">阅卷组全体教师</option>
									<option value="0">阅卷组内未安排阅卷任务教师</option>
								</ng-container>
								<ng-container *ngIf="!subjective.pre.all">
									<option value="1">阅卷组全体教师</option>
									<option value="0" selected="selected">阅卷组内未安排阅卷任务教师</option>
								</ng-container>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<div class="extra regular margin-left margin-top">
								<ng-container *ngFor="let teacher of teachers">
									<ng-container *ngIf="subjective.pre.group === teacher.group">
										<label class="checkbox-inline">
											<input type="checkbox" name="pre_teachers" value="{{teacher.id}}"> {{teacher.name}}
											<a class="btn btn-xs btn-link"><i class="glyphicon glyphicon-asterisk"></i></a>
										</label>
									</ng-container>
								</ng-container>
							</div>
						</div>
					</div>
				</div>
				<div id="doubleContent" class="panel-body" *ngIf="subjective.mmode === 2">
						<div class="form-group">
							<label for="number" class="col-sm-3 control-label">初评教师选择：</label>
							<div class="col-sm-9 form-inline clearfix">
								<select id="pre_groups" class="form-control">
									<ng-container *ngFor="let group of groups">
										<ng-container *ngIf="subjective.pre.group === group.id">
											<option selected="selected" value="{{group.id}}">{{group.name}}</option>
										</ng-container>
										<ng-container *ngIf="subjective.pre.group !== group.id">
											<option value="{{group.id}}">{{group.name}}</option>
										</ng-container>
									</ng-container>
								</select>
								<select id="pre_all" class="form-control">
									<ng-container *ngIf="subjective.pre.all">
										<option value="1" selected="selected">阅卷组全体教师</option>
										<option value="0">阅卷组内未安排阅卷任务教师</option>
									</ng-container>
									<ng-container *ngIf="!subjective.pre.all">
										<option value="1">阅卷组全体教师</option>
										<option value="0" selected="selected">阅卷组内未安排阅卷任务教师</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="extra regular margin-left margin-top">
									<ng-container *ngFor="let teacher of teachers">
										<ng-container *ngIf="subjective.pre.group === teacher.group">
											<label class="checkbox-inline">
												<input type="checkbox" name="pre_teachers" value="{{teacher.id}}"> {{teacher.name}}
												<a class="btn btn-xs btn-link"><i class="glyphicon glyphicon-asterisk"></i></a>
											</label>
										</ng-container>
									</ng-container>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="number" class="col-sm-3 control-label">终评教师选择：</label>
							<div class="col-sm-9 form-inline clearfix">
								<select id="final_groups" class="form-control">
									<ng-container *ngFor="let group of groups">
										<ng-container *ngIf="subjective.final.group === group.id">
											<option selected="selected" value="{{group.id}}">{{group.name}}</option>
										</ng-container>
										<ng-container *ngIf="subjective.final.group !== group.id">
											<option value="{{group.id}}">{{group.name}}</option>
										</ng-container>
									</ng-container>
								</select>
								<select id="final_all" class="form-control">
									<ng-container *ngIf="subjective.final.all">
										<option value="1" selected="selected">阅卷组全体教师</option>
										<option value="0">阅卷组内未安排阅卷任务教师</option>
									</ng-container>
									<ng-container *ngIf="!subjective.final.all">
										<option value="1">阅卷组全体教师</option>
										<option value="0" selected="selected">阅卷组内未安排阅卷任务教师</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="extra regular margin-left margin-top">
									<ng-container *ngFor="let teacher of teachers">
										<ng-container *ngIf="subjective.final.group === teacher.group">
											<label class="checkbox-inline">
												<input type="checkbox" name="final_teachers" value="{{teacher.id}}"> {{teacher.name}}
												<a class="btn btn-xs btn-link"><i class="glyphicon glyphicon-asterisk"></i></a>
											</label>
										</ng-container>
									</ng-container>
								</div>
							</div>
						</div>
					</div>
				<div class="panel-footer padding-right text-right">
					<button type="button" class="btn btn-default">取消</button>
					<button type="button" class="btn btn-default" (click)="saveOne()">提交</button>
				</div>
			</div>
		</ng-container>
   </form>
</div>
<!-- 内容 end -->
<div class="margin-top-lg padding-vertical text-center">
	<button type="button" class="btn btn-default">取消</button>
	<button type="button" class="btn btn-primary">完成</button>
</div>