/*//首页*/
/*>375px*/
@media (min-width: 375px) {
    .container-index .container {
        width: 320px;
    }
    .container-index {
        margin-top: 30px;
    }
    /*//三列*/
	.container-index .container .col-sm-4 .col>a>i {
	    font-size: 48px;
	}
    .container-index .container .col-sm-4 .col.col-1x1 {
        width: 150px;
        height: 150px;
    }
    .container-index .container .col-sm-4 .col.col-1x2 {
        width: 150px;
        height: 300px;
    }
    .container-index .container .col-sm-4 .col.col-2x1 {
        width: 300px;
        height: 150px;
    }
    .container-index .container .col-sm-4 .col.col-2x2 {
        width: 300px;
        height: 300px;
    }
    /*//四列*/
	.container-index .container .col-sm-3 .col>a>i {
	    font-size: 48px;
	}
    .container-index .container .col-sm-3 .col.col-1x1 {
        width: 150px;
        height: 150px;
    }
    .container-index .container .col-sm-3 .col.col-1x2 {
        width: 150px;
        height: 300px;
    }
    .container-index .container .col-sm-3 .col.col-2x1 {
        width: 300px;
        height: 150px;
    }
    .container-index .container .col-sm-3 .col.col-2x2 {
        width: 300px;
        height: 300px;
    }
}
/*>768px*/
@media (min-width: 768px) {
    .container-index .container {
        width: 750px;
    }
    .container-index {
        margin-top: 50px;
    }
    /*//三列*/
	.container-index .container .col-sm-4 .col>a>i {
	    font-size: 32px;
	}
    .container-index .container .col-sm-4 .col.col-1x1 {
        width: 115px;
        height: 115px;
    }
    .container-index .container .col-sm-4 .col.col-1x2 {
        width: 115px;
        height: 230px;
    }
    .container-index .container .col-sm-4 .col.col-2x1 {
        width: 230px;
        height: 115px;
    }
    .container-index .container .col-sm-4 .col.col-2x2 {
        width: 230px;
        height: 230px;
    }
    /*//四列*/
	.container-index .container .col-sm-3 .col>a>i {
	    font-size: 24px;
	}
    .container-index .container .col-sm-3 .col.col-1x1 {
        width: 83px;
        height: 83px;
    }
    .container-index .container .col-sm-3 .col.col-1x2 {
        width: 83px;
        height: 166px;
    }
    .container-index .container .col-sm-3 .col.col-2x1 {
        width: 166px;
        height: 83px;
    }
    .container-index .container .col-sm-3 .col.col-2x2 {
        width: 166px;
        height: 166px;
    }
}
/*>1366px*/
@media (min-width: 1366px) {
    .container-index.container-index-3 .container {
        width: 1050px;
    }
    .container-index.container-index-4 .container {
        width: 1250px;
    }
    .container-index {
        margin-top: 50px;
    }
    /*//三列*/
	.container-index .container .col-sm-4 .col>a>i {
	    font-size: 56px;
	}
    .container-index .container .col-sm-4 .col.col-1x1 {
        width: 165px;
        height: 165px;
    }
    .container-index .container .col-sm-4 .col.col-1x2 {
        width: 165px;
        height: 330px;
    }
    .container-index .container .col-sm-4 .col.col-2x1 {
        width: 330px;
        height: 165px;
    }
    .container-index .container .col-sm-4 .col.col-2x2 {
        width: 330px;
        height: 330px;
    }
    /*//四列*/
	.container-index .container .col-sm-3 .col>a>i {
	    font-size: 52px;
	}
    .container-index .container .col-sm-3 .col.col-1x1 {
        width: 145px;
        height: 145px;
    }
    .container-index .container .col-sm-3 .col.col-1x2 {
        width: 145px;
        height: 290px;
    }
    .container-index .container .col-sm-3 .col.col-2x1 {
        width: 290px;
        height: 145px;
    }
    .container-index .container .col-sm-3 .col.col-2x2 {
        width: 290px;
        height: 290px;
    }
}
/*>1920px*/
@media (min-width: 1920px) {
    .container-index.container-index-3 .container {
        width: 1260px;
    }
    .container-index.container-index-4 .container {
        width: 1520px;
    }
    .container-index {
        margin-top: 100px;
    }
    /*//三列*/
	.container-index .container .col-sm-4 .col>a>i {
	    font-size: 66px;
	}
    .container-index .container .col-sm-4 .col.col-1x1 {
        width: 200px;
        height: 200px;
    }
    .container-index .container .col-sm-4 .col.col-1x2 {
        width: 200px;
        height: 400px;
    }
    .container-index .container .col-sm-4 .col.col-2x1 {
        width: 400px;
        height: 200px;
    }
    .container-index .container .col-sm-4 .col.col-2x2 {
        width: 400px;
        height: 400px;
    }
    /*//四列*/
	.container-index .container .col-sm-3 .col>a>i {
	    font-size: 64px;
	}
    .container-index .container .col-sm-3 .col.col-1x1 {
        width: 180px;
        height: 180px;
    }
    .container-index .container .col-sm-3 .col.col-1x2 {
        width: 180px;
        height: 360px;
    }
    .container-index .container .col-sm-3 .col.col-2x1 {
        width: 360px;
        height: 180px;
    }
    .container-index .container .col-sm-3 .col.col-2x2 {
        width: 360px;
        height: 360px;
    }
}
/*全局*/
.container-index .container {
	padding-left: 10px;
	padding-right: 10px;
}
.container-index .container .row {
    margin-left: -10px;
    margin-right: -10px;
}
.container-index .container .row .col-sm-3,
.container-index .container .row .col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;
}
.container-index .container .col {
    float: left;
}
.container-index .container .col>a {
    position: relative;
    color: #fff;
}
.container-index .container .col a,
.container-index .container .col>ul,
.container-index .container .col>div {
    color: #fff;
}
.container-index .container .col>ul,
.container-index .container .col>div {
    padding: 30px;
}
.container-index .container .col>a:hover,
.container-index .container .col>a:focus,
.container-index .container .col>a:active {
    opacity: .8;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.container-index .container .col.col-yellow>a,
.container-index .container .col.col-yellow>ul,
.container-index .container .col.col-yellow>div {
    background-color: #ffdf25;
}
.container-index .container .col.col-orange>a,
.container-index .container .col.col-orange>ul,
.container-index .container .col.col-orange>div {
    background-color: #f90;
}
.container-index .container .col.col-blue>a,
.container-index .container .col.col-blue>ul,
.container-index .container .col.col-blue>div {
    background-color: #199ed8;
}
.container-index .container .col.col-green>a,
.container-index .container .col.col-green>ul,
.container-index .container .col.col-green>div {
    background-color: #0c3;
}
.container-index .container .col.col-muted>a,
.container-index .container .col.col-muted>ul,
.container-index .container .col.col-muted>div {
    color: #999;
    background-color: #f2f2f2;
}
.container-index .container .col {
    padding: 5px;
}
.container-index .container .col>a>i {
    display: block;
    margin: 10px 0;
    font-style: normal;
    line-height: 1;
}
.container-index .container .col>a h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 8px;
    width: 100%;
    text-align: left;
    font-size: 14px;
}
.container-index .container .col>a p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}
.container-index .container .col>a .text-center {
    text-align: center;
}