<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="../">首页</a></li>
		<li><a href="selectsubject">考试中心</a></li>
		<li class="active">答案设置</li>
	</ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container container-sm">
	<!-- 检索 start -->
	<div class="row margin-bottom-lg">
		<div class="col-sm-12 col-lg-12">
			<ul class="nav clear-margin dropdown-select">
				<li class="dropdown">
					<button type="button" class="btn btn-lg btn-link clear-padding-horizontal" data-toggle="dropdown" aria-expanded="false"><span class="dropdown-btn">铜川一中16-17学年上学期期末考试</span> <span class="caret"></span></button>
					<ul id="myTabs" class="dropdown-menu" aria-labelledby="dLabel" [(ngModel)]="exams">
						<li><a href="#tab0" data-value="0" data-toggle="tab" *ngFor="let exam of exams">{{exam.name}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- 检索 end -->
	<div id="editGradeDetailsForm" class="form-horizontal">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="clear-margin"><strong>选择科目：</strong></h4>
			</div>
			<hr>
			<div class="panel-body" [(ngModel)]="setedsubjects">
				<div class="form-group" *ngFor="let grades of setedsubjects">
					<label for="" class="col-sm-3 control-label"><strong>{{grades.grade}}：</strong></label>
					<div class="col-sm-9 btn-toolbar">
						<div class="extra btn-group" data-toggle="buttons" [(ngModel)]="grades.subjects">
							<a class="btn btn-primary" href="../setanswers" *ngFor="let subject of grades.subjects">{{subject}}</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-heading">
				<h4 class="clear-margin"><strong>已设置科目：</strong></h4>
			</div>
			<hr>
			<div class="panel-body" [(ngModel)]="unsetedsubjects">
				<div class="form-group" *ngFor="let grades of unsetedsubjects">
					<label for="" class="col-sm-3 control-label"><strong>{{grades.grade}}：</strong></label>
					<div class="col-sm-9 btn-toolbar">
						<div class="extra btn-group" data-toggle="buttons" [(ngModel)]="grades.subjects">
							<a class="btn btn-primary" href="../setanswers" *ngFor="let subject of grades.subjects">{{subject}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 内容 end -->	