<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="../">首页</a></li>
		<li><a href="selectsubject">考试中心</a></li>
		<li class="active">答案设置</li>
	</ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs margin-bottom-lg" role="tablist">
		<li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">客观题设置</a></li>
		<li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">主观题设置</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab1">
			<!--表格 start-->
			<form>
				<div class="table-responsive clear-border-horizontal" data-pattern="priority-columns">
					<table class="table table-hover table-bordered table-lighter table-striped form-inline">
						<thead>
							<tr>
								<th class="clearfix">
									题号 
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link clear-padding-vertical"><i class="glyphicon glyphicon-plus"></i></a>
									</div>
								</th>
								<th>题型</th>
								<th>选项</th>
								<th>分值</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="clearfix">
									<div class="input-group">
										<input type="number" class="form-control" id="" name="" size="5" placeholder="" value="1">
										<span class="input-group-addon clear-border clear-bg">至</span>
										<input type="number" class="form-control" id="" name="" size="5" placeholder="" value="20">
									</div>
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td>
									<select id="u60_input" class="form-control">
										<option selected="selected" value="单选题">单选题</option>
										<option value="多选题">多选题</option>
										<option value="判断题">判断题</option>
									</select>
								</td>
								<td>
									<select id="u76_input" class="form-control">
										<option value="2">2</option>
										<option value="3">3</option>
										<option selected="selected" value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="0">
								</td>
							</tr>
							<tr>
								<td class="clearfix">
									<div class="input-group">
										<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="21">
										<span class="input-group-addon clear-border clear-bg">至</span>
										<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="25">
									</div>
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td>
									<select id="u60_input" class="form-control">
										<option value="单选题">单选题</option>
										<option selected="selected" value="多选题">多选题</option>
										<option value="判断题">判断题</option>
									</select>
								</td>
								<td>
									<select id="u76_input" class="form-control">
										<option value="2">2</option>
										<option value="3">3</option>
										<option selected="selected" value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="0">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-cog"></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--表格end-->
				<!--表格 start-->
				<div class="table-responsive" data-pattern="priority-columns">
					<table class="table table-hover table-bordered form-inline">
						<thead>
							<tr>
								<th>题号</th>
								<th>选项</th>
								<th>正确答案</th>
								<th>分科设置</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>
									<div class="extra" data-toggle="buttons">
										<label class="btn btn-default active">
											<input type="radio" id="" name="" value="A" required=""> A
										</label>
										<label class="btn btn-default">
											<input type="radio" id="" name="" value="B" required=""> B
										</label>
										<label class="btn btn-default">
											<input type="radio" id="" name="" value="C" required=""> C
										</label>
										<label class="btn btn-default">
											<input type="radio" id="" name="" value="D" required=""> D
										</label>
									</div>
								</td>
								<td>A</td>
								<td>
									<select id="u78_input" class="form-control">
										<option selected="selected" value="历史">历史</option>
										<option value="政治">政治</option>
										<option value="地理">地理</option>
										<option value="不分科">不分科</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									<div class="extra" data-toggle="buttons">
										<label class="btn btn-default">
											<input type="radio" id="" name="" value="A" required=""> A
										</label>
										<label class="btn btn-default active">
											<input type="radio" id="" name="" value="B" required=""> B
										</label>
										<label class="btn btn-default">
											<input type="radio" id="" name="" value="C" required=""> C
										</label>
										<label class="btn btn-default">
											<input type="radio" id="" name="" value="D" required=""> D
										</label>
									</div>
								</td>
								<td>B</td>
								<td>
									<select id="u78_input" class="form-control">
										<option selected="selected" value="历史">历史</option>
										<option value="政治">政治</option>
										<option value="地理">地理</option>
										<option value="不分科">不分科</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--表格end-->
				<p>单选题合计X分，多选题合计Y分，客观题总计分数：Z</p>
				<div class="padding-vertical text-center">
					<button type="reset" class="btn btn-default">取消</button>
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="tab2">
			<!--表格 start-->
			<form>
				<div class="table-responsive clear-border-horizontal" data-pattern="priority-columns">
					<table class="table table-hover table-bordered table-lighter table-striped form-inline table-questions">
						<thead>
							<tr>
								<th class="clearfix">
									题号 
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link clear-padding-vertical"><i class="glyphicon glyphicon-plus"></i></a>
									</div>
								</th>
								<th>分科</th>
								<th>题型</th>
								<th>分值</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="input-group">
										<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="21">
										<span class="input-group-addon clear-border clear-bg">至</span>
										<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="25">
									</div>
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td>
									<select id="u602_input" class="form-control">
										<option selected="selected" value="物理">物理</option>
										<option value="化学">化学</option>
										<option value="生物">生物</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="填空题">
								</td>
								<td>
									<div class="input-group">
										<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="2">
										<span class="input-group-addon clear-border clear-bg">/题</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="26">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td>
									<select id="u602_input" class="form-control">
										<option selected="selected" value="物理">物理</option>
										<option value="化学">化学</option>
										<option value="生物">生物</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="解答题">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-pencil"></i></a>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="10">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i></a>
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-screenshot"></i></a>
									</div>
								</td>
							</tr>
							<tr class="child">
								<td>
									26.1
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td>
									<select id="u602_input" class="form-control">
										<option selected="selected" value="物理">物理</option>
										<option value="化学">化学</option>
										<option value="生物">生物</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="解答题">
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="10">
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="27">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td>
									<select id="u602_input" class="form-control">
										<option selected="selected" value="物理">物理</option>
										<option value="化学">化学</option>
										<option value="生物">生物</option>
									</select>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="解答题">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-pencil"></i></a>
									</div>
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="10">
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-plus"></i></a>
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-screenshot"></i></a>
									</div>
								</td>
							</tr>
							<tr class="child">
								<td>
									（<span>1</span>）
									<div class="input-group pull-right">
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-info-sign"></i></a>
										<a href="#" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i></a>
									</div>
								</td>
								<td></td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="解答题">
								</td>
								<td>
									<input type="text" class="form-control" id="" name="" size="5" placeholder="" value="10">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--表格end-->
				<p>主观题共X道题，合计分数：Z</p>
				<div class="padding-vertical text-center">
					<button type="reset" class="btn btn-default">取消</button>
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 内容 end -->