<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="../">首页</a></li>
		<li><a href="selectsubject;type=answers">考试中心</a></li>
		<li class="active">答案设置</li>
	</ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs margin-bottom-lg" role="tablist">
		<li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">客观题设置</a></li>
		<li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">主观题设置</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab1">
			<!--表格 start-->
			<form>
				<div class="table-responsive clear-border-horizontal" data-pattern="priority-columns">
					<table class="table table-hover table-bordered table-lighter table-striped form-inline">
						<thead>
							<tr>
								<th class="clearfix">
									题号 
									<div class="input-group pull-right">
										<a class="btn btn-link clear-padding-vertical" (click)="addOneRow()">
											<i class="glyphicon glyphicon-plus"></i>
										</a>
									</div>
								</th>
								<th>题型</th>
								<th>选项</th>
								<th>分值</th>
							</tr>
						</thead>
						<tbody id="objective">
							<tr *ngFor="let objective of objectives">
								<td class="clearfix">
									<div class="input-group">
										<input type="text" class="form-control" id="start_{{objective.id}}" name="start" size="5" placeholder="" value="{{objective.start}}" (change)="onValueChange(1,objective.id)">
										<span class="input-group-addon clear-border clear-bg">至</span>
										<input type="text" class="form-control" id="end_{{objective.id}}" name="end" size="5" placeholder="" value="{{objective.end}}" (change)="onValueChange(2,objective.id)">
									</div>
									<div class="input-group pull-right">
										<a class="btn btn-link" (click)="removeOneRow(objective.id)">
											<i class="glyphicon glyphicon-trash"></i>
										</a>
									</div>
								</td>
								<td>
									<select id="type_{{objective.id}}" class="form-control" (change)="onValueChange(3,objective.id)">
										<option *ngIf="objective.type === 1" selected="selected" value="1">单选题</option>
										<option *ngIf="objective.type !== 1" value="1">单选题</option>
										<option *ngIf="objective.type === 2" selected="selected" value="2">多选题</option>
										<option *ngIf="objective.type !== 2" value="2">多选题</option>
										<option *ngIf="objective.type === 3" selected="selected" value="3">判断题</option>
										<option *ngIf="objective.type !== 3" value="3">判断题</option>
									</select>
								</td>
								<td>
									<select id="option_{{objective.id}}" class="form-control" (change)="onValueChange(4,objective.id)">
										<ng-container *ngFor="let option of options">
											<option *ngIf="objective.option === option" selected="selected" value="{{option}}">{{option}}</option>
											<option *ngIf="objective.option !== option" value="{{option}}">{{option}}</option>
										</ng-container>
									</select>
								</td>
								<td>
									<div class="input-group">
										<input type="text" class="form-control" id="score_{{objective.id}}" size="5" value="{{objective.score}}" (change)="onValueChange(5,objective.id)">
										<span class="input-group-addon clear-border clear-bg">分/题</span>
										<div class="input-group pull-right" *ngIf="objective.type === 2">
											<a class="btn btn-link" (click)="setCheckboxScore()"><i class="glyphicon glyphicon-cog"></i></a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--表格end-->
				<!--表格 start-->
				<div class="table-responsive" data-pattern="priority-columns">
					<table class="table table-hover table-bordered form-inline">
						<thead>
							<tr>
								<th>题号</th>
								<th>选项</th>
								<th>正确答案</th>
								<th *ngIf="issynthesize">分科设置</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let answer of objectiveAnswers">
								<td>{{answer.no}}</td>
								<td>
									<div class="extra" data-toggle="buttons">
										<ng-container *ngFor="let option of answer.options">
											<label class="btn btn-default active" *ngIf="option.checked" (click)="setAnswersOption(answer.no,answer.type,option.name)">
												<input *ngIf="answer.type !== 2" type="radio" value="{{option.name}}">
												<input *ngIf="answer.type === 2" type="checkbox" value="{{option.name}}"> {{option.name}}
											</label>
											<label class="btn btn-default" *ngIf="!option.checked" (click)="setAnswersOption(answer.no,answer.type,option.name)">
												<input *ngIf="answer.type !== 2" type="radio" value="{{option.name}}">
												<input *ngIf="answer.type === 2" type="checkbox" value="{{option.name}}"> {{option.name}}
											</label>
										</ng-container>
									</div>
								</td>
								<td>{{answer.answer}}</td>
								<td *ngIf="issynthesize">
									<select id="answersSubject_{{answer.no}}" class="form-control" (change)="setAnswersSubject(answer.no,answer.type)">
										<ng-container *ngFor="let subject of subjects">
											<option *ngIf="answer.subject === subject.id" selected="selected" value="{{subject.id}}">{{subject.name}}</option>
											<option *ngIf="answer.subject !== subject.id" value="{{subject.id}}">{{subject.name}}</option>
										</ng-container>
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--表格end-->
				<p>单选题合计{{radioScore}}分，多选题合计{{checkboxScore}}分，判断题合计{{judgmentScore}}分，客观题总计分数：{{objectiveScore}}分</p>
				<div class="padding-vertical text-center">
					<button type="button" class="btn btn-default">取消</button>
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
			</form>
		</div>
		<div role="tabpanel" class="tab-pane" id="tab2">
			<!--表格 start-->
			<form>
				<div class="table-responsive clear-border-horizontal" data-pattern="priority-columns">
					<table class="table table-hover table-bordered table-lighter table-striped form-inline table-questions">
						<thead>
							<tr>
								<th class="clearfix">
									题号 
									<div class="input-group pull-right">
										<a class="btn btn-link clear-padding-vertical" (click)="addOneSubjectiveRow(0)">
											<i class="glyphicon glyphicon-plus"></i>
										</a>
									</div>
								</th>
								<th *ngIf="issynthesize">分科</th>
								<th>题型</th>
								<th>分值</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let subjective of subjectives">
								<tr>
									<td>
										<div class="input-group">
											<input type="text" class="form-control" size="5" id="subjective_start_{{subjective.id}}" value="{{subjective.start}}" (change)="onSubjectiveValueChange('start',subjective.id,0)">
											<span class="input-group-addon clear-border clear-bg" *ngIf="subjective.type === 4">至</span>
											<input type="text" class="form-control" size="5" id="subjective_end_{{subjective.id}}" value="{{subjective.end}}" *ngIf="subjective.type === 4" (change)="onSubjectiveValueChange('end',subjective.id,0)">
										</div>
										<div class="input-group pull-right">
											<a class="btn btn-link" (click)="removeOneSubjectiveRow(subjective.id,0)">
												<i class="glyphicon glyphicon-trash"></i>
											</a>
										</div>
									</td>
									<td *ngIf="issynthesize">
										<select id="subjective_subject_{{subjective.id}}" class="form-control" (change)="onSubjectiveValueChange('subject',subjective.id,0)">
											<ng-container *ngFor="let subject of subjects">
												<option *ngIf="subjective.subject === subject.id" selected="selected" value="{{subject.id}}">{{subject.name}}</option>
												<option *ngIf="subjective.subject !== subject.id" value="{{subject.id}}">{{subject.name}}</option>
											</ng-container>
										</select>
									</td>
									<td>
										<select id="subjective_type_{{subjective.id}}" class="form-control" (change)="onSubjectiveValueChange('type',subjective.id,0)">
											<option *ngIf="subjective.type === 4" selected="selected" value="4">填空题</option>
											<option *ngIf="subjective.type !== 4" value="4">填空题</option>
											<option *ngIf="subjective.type === 5" selected="selected" value="5">解答题</option>
											<option *ngIf="subjective.type !== 5" value="5">解答题</option>
											<option *ngIf="subjective.type === 6" selected="selected" value="6">证明题</option>
											<option *ngIf="subjective.type !== 6" value="6">证明题</option>
											<option *ngIf="subjective.type === 7" selected="selected" value="7">论述题</option>
											<option *ngIf="subjective.type !== 7" value="7">论述题</option>
											<option *ngIf="subjective.type === 8" selected="selected" value="8">作文题</option>
											<option *ngIf="subjective.type !== 8" value="8">作文题</option>
										</select>
									</td>
									<td>
										<div class="input-group">
											<input type="text" class="form-control" size="5" id="subjective_score_{{subjective.id}}" value="{{subjective.score}}" (change)="onSubjectiveValueChange('score',subjective.id,0)">
											<span class="input-group-addon clear-border clear-bg">分/题</span>
											<div class="input-group pull-right" *ngIf="subjective.type !== 4">
												<a class="btn btn-link" (click)="addOneSubjectiveRow(subjective.id)">
													<i class="glyphicon glyphicon-plus" ></i>
												</a>
												<a class="btn btn-link">
													<i class="glyphicon glyphicon-screenshot"></i>
												</a>
											</div>
										</div>
									</td>
								</tr>
								<tr class="child" *ngFor="let child of subjective.child">
									<td>
										{{subjective.start}}.{{child.id}}
										<div class="input-group pull-right">
											<a class="btn btn-link" (click)="removeOneSubjectiveRow(subjective.id,child.id)">
												<i class="glyphicon glyphicon-trash"></i>
											</a>
										</div>
									</td>
									<td>
										<select  id="subjective_subject_{{subjective.id}}_{{child.id}}" class="form-control" (change)="onSubjectiveValueChange('subject',subjective.id,child.id)">
											<ng-container *ngFor="let subject of subjects">
												<option *ngIf="child.subject === subject.id" selected="selected" value="{{subject.id}}">{{subject.name}}</option>
												<option *ngIf="child.subject !== subject.id" value="{{subject.id}}">{{subject.name}}</option>
											</ng-container>
										</select>
									</td>
									<td>
										<select id="subjective_type_{{subjective.id}}_{{child.id}}" class="form-control" (change)="onSubjectiveValueChange('type',subjective.id,child.id)">
											<option *ngIf="child.type === 4" selected="selected" value="4">填空题</option>
											<option *ngIf="child.type !== 4" value="4">填空题</option>
											<option *ngIf="child.type === 5" selected="selected" value="5">解答题</option>
											<option *ngIf="child.type !== 5" value="5">解答题</option>
											<option *ngIf="child.type === 6" selected="selected" value="6">证明题</option>
											<option *ngIf="child.type !== 6" value="6">证明题</option>
											<option *ngIf="child.type === 7" selected="selected" value="7">论述题</option>
											<option *ngIf="child.type !== 7" value="7">论述题</option>
											<option *ngIf="child.type === 8" selected="selected" value="8">作文题</option>
											<option *ngIf="child.type !== 8" value="8">作文题</option>
										</select>
									</td>
									<td>
										<input type="text" class="form-control" size="5" id="subjective_score_{{subjective.id}}_{{child.id}}" value="{{child.score}}" (change)="onSubjectiveValueChange('score',subjective.id,child.id)">
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
				<!--表格end-->
				<p>主观题共{{subjectiveCount}}道题，合计分数：{{subjectiveScore}}分</p>
				<div class="padding-vertical text-center">
					<button type="button" class="btn btn-default">取消</button>
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 内容 end -->

<!-- 模态框，登录 start -->
<div id="loginModal111" class="modal login-modal" tabindex="-1" role="dialog">
	<form id="loginForm" method="get" class="form-horizontal" action="informationCenter/student.html">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs row" role="tablist">
						<li role="presentation" class="col-xs-6 col-sm-6 active clear-padding"><a class="text-center clear-margin" href="#account" aria-controls="account" role="tab" data-toggle="tab">账号登录</a></li>
						<li role="presentation" class="col-xs-6 col-sm-6 clear-padding"><a class="text-center clear-margin" href="#qrCode" aria-controls="qrCode" role="tab" data-toggle="tab">扫码登录</a></li>
					</ul>
				</div>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="account">
						<div class="modal-body">
							<div class="form-group">
								<label for="userName" class="col-sm-3 control-label">账号：</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="userName" name="userName" placeholder="请输入姓名" required data-bv-notempty-message="姓名不能为空">
								</div>
							</div>
							<div class="form-group">
								<label for="statusCode" class="col-sm-3 control-label">密码：</label>
								<div class="col-sm-8">
									<input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="请输入密码" required data-bv-notempty-message="密码不能为空">
								</div>
							</div>
							<div class="form-group clear-margin">
								<div class="col-sm-offset-3 col-sm-5">
									<div class="checkbox">
										<label>
											<input type="checkbox" id="isCookie" name="isCookie"> 记住密码
										</label>
									</div>
								</div>
								<div class="col-sm-3 clear-padding-horizontal text-right">
									<a class="btn btn-link clear-padding-horizontal" href="resetPassword.html">找回密码</a>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="loginBtn" type="button" class="btn btn-primary btn-block">确定</button>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="qrCode">
						<div class="modal-body">
							<img class="img-responsive center-block" src="images/qrcode.png">
						</div>
						<div class="modal-footer">
							<h5 class="text-center">微信扫描二维码登录“蘑菇云阅卷平台”</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 模态框，登录 end -->