<!-- 路径导航 start -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li>信息中心</li>
    <li><a [routerLink]="['/examList']">考试信息</a></li>
    <li><a [routerLink]="['/examDetails', {examId: examId}]">未完成考试详细信息</a></li>
    <li class="active">考生列表</li>
  </ol>
</div>
<!-- 路径导航 end -->
<div class="container">
  <!-- 检索 start -->
  <div class="row search-wrap">
    <div class="col-sm-8 col-lg-8">
      <form id="searchForm" method="post" class="form-inline" action="#">
        <div class="input-group" >
          <span class="input-group-addon">班级</span>
          <select class="form-control" id="gradeFilterValue" name="selectedClass" [(ngModel)]="selectedClass">
            <option value=""></option>
            <option *ngFor="let class of classes" [ngValue]="class">{{class.classId}}</option>
          </select>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" name="text" [(ngModel)]="text" placeholder="请输入姓名或者考号">
          <span class="input-group-btn"> <button type="button" class="btn btn-default" (click)='reload()'>查询</button> </span>
        </div>
      </form>
    </div>
    <div class="col-sm-3 col-lg-3 pull-right">
      <div class="input-group">
        <a class="btn btn-default" (click)="examineeId=null;staticModal.show()">添加考生</a>
        <a class="btn btn-default" (click)="addExamineeBatch()">批量添加</a>
      </div>
    </div>
  </div>
  <ngx-datatable
    #examineeTable
    style="width: 100%"
    class="material striped"
    [rows]="examinees"
    [columns]="columns"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [selectionType]="false"
    [limit]="20">
    <ngx-datatable-column prop="studentName" name="考生" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column prop="examCode" name="考号" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column prop="className" name="班级" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="成绩" [flexGrow]="1">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="btn btn-primary" (click)="editExaminee(staticModal, row)">编辑</button>
        <button class="btn btn-primary" (click)="deleteExaminee(row)">删除</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">添加考生</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" id="editGradeDetailsForm">
          <div class="panel panel-default">
            <div class="form-group">
              <label class="col-sm-4 control-label"><strong>姓名：</strong></label>
              <input type="text" name="name" [(ngModel)]="name">
              <span> *</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><strong>学籍号：</strong></label>
              <input type="text" name="stuId" [(ngModel)]="stuId">
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><strong>考号：</strong></label>
              <input type="text" name="stuExamId" [(ngModel)]="stuExamId">
              <span> *</span>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label"><strong>班级：</strong></label>
              <select [(ngModel)]="examineeClass">
                <option value="0" selected>请选择一个班级</option>
                <option *ngFor="let class of classes" [ngValue]="class" [selected]="class.id===selectedClass?.classId">{{class.name}}</option>
              </select>
              <span> *</span>
            </div>
            <div class="form-group text-center">
              <button type="button" class="btn btn-primary" (click)="staticModal.hide()">取消</button>
              <button type="button" class="btn btn-primary" (click)="addOrUpdateExaminee(staticModal);">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

