<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="#">首页</a></li>
		<li>信息中心</li>
		<li><a [routerLink]="['/examList']">考试信息</a></li>
    <li class="active">未完成考试详细信息</li>
	</ol>
</div>
<!-- 路径导航 end -->
<div class="container">
  <div>
    <ngx-datatable
      #examTable
      style="width: 100%"
      class="material striped"
      [rows]="subjects"
      [columns]="columns"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="'auto'"
      [selectionType]="false"
      [groupRowsBy]="'gradeId'"
      [groupExpansionDefault]="true"
      [limit]="10">
      <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
        <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
          <div style="padding-left:5px; height: 25px;">
            <a
              [routerLink]="['/examinee',{examId: examId, gradeId: group.value[0].gradeId}]"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Group"
              (click)="toggleExpandGroup(group)">
              <b>{{group.value[0].gradeName}} 考生：<u> {{ group.value[0].studentCount }} </u></b>
            </a>
          </div>
        </ng-template>
      </ngx-datatable-group-header>
      <ngx-datatable-column prop="subjectName" name="科目" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="试卷" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template> <span class="glyphicon glyphicon-ok"></span> </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="答案" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="glyphicon" [ngClass]="{'glyphicon-ok': row.answerSet, 'glyphicon-open-file': !row.answerSet}" ></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="答题卡" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.paperCount===row.studentCount&&row.status!=='2'">
            <!--<a class="glyphicon glyphicon-ok" [routerLink]="['/viewTasks',{gradeId:row.gradeId,subjectId:row.subjectId,examId:examId}]"></a>-->
            <a class="glyphicon glyphicon-ok" ></a>
          </span>
          <!--TODO: 缺考名单，正在扫描状态-->
          <span style="color: red;" *ngIf="row.paperCount!==row.studentCount&&row.status!=='2'" (mouseover)="getMissingExaminees(row)"
                (click)="selectedRow=row;staticModal.show()"> {{row.paperCount }}</span>
          <div class="progress clear-margin-bottom" *ngIf="row.status!=='2'">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 [ngStyle]="{'width': getAnswerPaperPercentage(row)}">
              {{ getAnswerPaperPercentage(row) }}
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="模板制作" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="glyphicon glyphicon-ok" *ngIf="row.template"></span>
          <span *ngIf="!row.template"><a href="javascript:;">未设置</a></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="客观题" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.objectCount" >
            <a class="glyphicon glyphicon-ok" [routerLink]="['/setanswers', { egsId: row.egsId, examId: examId, gradeId: row.gradeId, subjectId: row.subjectId, seted: seted }]" title="{{ row.objectScore }}分{{ row.objectCount }}题"></a>
          </span>
          <span *ngIf="!row.objectCount"><a [routerLink]="['/setanswers', { egsId: row.egsId, examId: examId, gradeId: row.gradeId, subjectId: row.subjectId, seted: seted }]">未设置</a></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="主观题" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.subjectCount" >
            <a class="glyphicon glyphicon-ok" [routerLink]="['/setanswers', { egsId: row.egsId, examId: examId, gradeId: row.gradeId, subjectId: row.subjectId, seted: seted }]" title="{{ row.subjectScore }}分{{ row.subjectCount }}题"></a>
          </span>
          <span *ngIf="!row.subjectCount"><a  [routerLink]="['/setanswers', { egsId: row.egsId, examId: examId, gradeId: row.gradeId, subjectId: row.subjectId, seted: seted }]">未设置</a></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="任务分配" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span *ngIf="row.taskDispatch"><a class="glyphicon glyphicon-ok" [routerLink]="['/viewTasks',{gradeId:row.gradeId,subjectId:row.subjectId,examId:examId}]"></a></span>
          <span *ngIf="!row.taskDispatch"><a [routerLink]="['/taskassign', { examId: examId, gradeId: row.gradeId, subjectId: row.subjectId, subject: row.subjectName }]">未设置</a></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="阅卷开关" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-primary" *ngIf="row.markSwitch===true" (click)="updateMarkSwitch(row, false)">暂停阅卷</button>
          <button class="btn btn-default" *ngIf="row.markSwitch===false&&row.taskDispatch===true&&row.answerSet===true" (click)="updateMarkSwitch(row, true)">启动阅卷</button>
          <button class="btn btn-default disabled" *ngIf="row.markSwitch===false&&(row.taskDispatch===false||row.answerSet===false)" (click)="updateMarkSwitch(row, true)">启动阅卷</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="阅卷进度" [flexGrow]="1" [cellClass]="'text-center'">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="progress clear-margin-bottom">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 [ngStyle]="{'width': row.progressRate + '%'}">
              {{row.progressRate + '%'}}
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="成绩" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-primary" *ngIf="row.status==='2'" (click)="publish(row, false)">取消发布</button>
          <button class="btn btn-default" *ngIf="row.status!=='2' && row.progressRate==='100'" (click)="publish(row, true)">发布成绩</button>
          <button class="btn btn-default disabled" *ngIf="row.status!=='2' && row.progressRate!=='100'">发布成绩</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="批注" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="btn btn-default" (click)="publishMark(row.egsId)">发布批注</button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <!-- 表格 end -->
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">缺考名单</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" id="editGradeDetailsForm">
          <div class="panel panel-default" *ngIf="selectedRow">
            <ngx-datatable
              #missingExaminees
              style="width: 100%"
              class="material striped"
              [rows]="selectedRow?.missingExaminees?.students"
              [columns]="columns"
              [columnMode]="'flex'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selectionType]="false"
              [limit]="10">
              <ngx-datatable-column prop="studentName" name="姓名"></ngx-datatable-column>
              <ngx-datatable-column prop="examCode" name="考号" [cellClass]="'text-center'"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
