<!-- 路径导航 start -->
<div class="container">
	<ol class="breadcrumb">
		<li><a href="#">首页</a></li>
		<li>信息中心</li>
		<li class="active">考试信息</li>
	</ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#finishedExam" aria-controls="finishedExam" role="tab" data-toggle="tab">已完成考试</a></li>
		<li role="presentation"><a href="#unFinishedExam" aria-controls="unFinishedExam" role="tab" data-toggle="tab">未完成考试</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<!--已完成考试 start-->
		<div role="tabpanel" class="tab-pane active" id="finishedExam">
			<div class="panel panel-default">
				<!-- 检索 start -->
				<div class="row search-wrap">
					<div class="col-sm-10 col-lg-10">
						<form [formGroup]="searchForm" id="searchForm" method="post" class="form-inline" action="#">
							<div class="input-group" >
								<span class="input-group-addon">年级</span>
								<select class="form-control" formControlName="grade" id="gradeFilterValue" [(ngModel)]="grade">
									<option value=""></option>
									<option *ngFor="let grade of examOptions?.grades" [ngValue]="grade">{{grade.grade_name}}</option>
								</select>
							</div>
							<div class="input-group">
								<span class="input-group-addon">学科</span>
								<select class="form-control" formControlName="subject" id="subjectFilterValue" [(ngModel)]="subject">
									<option value=""></option>
									<option *ngFor="let subject of examOptions?.subjects" [ngValue]="subject">{{subject.name}}</option>
								</select>
							</div>
							<div class="input-group">
								<span class="input-group-addon">起始日期</span>
                <input class="form-control" #drp="bsDatepicker" bsDatepicker [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" style="width: 100px;">
							</div>
							<div class="input-group">
								<span class="input-group-addon">截止日期</span>
                <input class="form-control" #drp="bsDatepicker" bsDatepicker [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" style="width: 100px;">
							</div>
							<div class="input-group">
								<input type="text" class="form-control" formControlName="examName" id="examNameFilterValue" [(ngModel)]="name" placeholder="请输入考试名称">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" (click)='reload()'>查询</button>
								</span>
							</div>
						</form>
					</div>
					<div class="col-sm-2 col-lg-2 text-right">
						<div class="btn-group btn-group-justified" role="group" aria-label="button group">
							<a [routerLink]="['/addExam']" id="addExamBtn" class="btn btn-default" title="新建考试" (click)="test1()">新建考试</a>
						</div>
					</div>
				</div>
				<!-- 检索 end -->
				<br/>
				<!-- 表格 start -->
				<div>
          <ngx-datatable
            style="width: 100%"
            class="material striped"
            [rows]="rows"
            [columns]="columns"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="'auto'"
            [selectionType]="false"
            [limit]="10">
            <ngx-datatable-column prop="examName" name="考试名称" [flexGrow]="4"></ngx-datatable-column>
            <ngx-datatable-column prop="examDate" name="开考时间" [flexGrow]="2" [pipe]="IntToDate" [cellClass]="text-center"></ngx-datatable-column>
            <ngx-datatable-column prop="grade" name="考试年级" [flexGrow]="4"></ngx-datatable-column>
            <ngx-datatable-column prop="subject" name="考试科目" [flexGrow]="6"></ngx-datatable-column>
            <ngx-datatable-column prop="examineeNum" name="考生人数" [flexGrow]="2"></ngx-datatable-column>
            <ngx-datatable-column name="操作" [flexGrow]="4">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a [routerLink]="['/result', row]" id="resultBtn" href="#" class="btn btn-default" title="查看成绩">查看成绩</a>
                <a [routerLink]="['/cancelPublish', row]" id="cancelPublishBtn" href="#" class="btn btn-default" title="取消发布">取消发布</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
				</div>
				<!-- 表格 end -->
			</div>
		</div>
        <!--已完成考试 end-->
		<!--未完成考试 start-->
		<div role="tabpanel" class="tab-pane container container-sm" id="unFinishedExam">
			<div class="panel panel-default">
				<!-- 检索 start -->
				<div class="panel-heading search-wrap">
					<div class="row">
						<div class="col-sm-12 text-right">
							<div class="btn-group" role="group" aria-label="button group">
                <a [routerLink]="['/addExam']" class="btn btn-primary" title="新建考试" (click)="test1()"><i class="glyphicon glyphicon-plus"></i> 新建考试</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 检索 end -->
				<!--表格 start-->
				<div class="table-responsive clear-border-horizontal" data-pattern="priority-columns">
					<table class="table table-hover table-bordered table-lighter table-striped text-center">
						<thead>
							<tr>
								<th>考试名称</th>
								<th>考试时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let exam of unfinishedExams">
								<td><a [routerLink]="['/examDetails', {examId: exam.id}]" >{{ exam.examName }}</a></td>
								<td>{{ exam.examDate | intToDate }}</td>
								<td>
									<a [routerLink]="['/addExam', {examId:exam.id}]" class="btn btn-xs btn-primary">编辑</a>
									<a class="btn btn-xs btn-primary" (click)="delete(exam)">删除</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--表格end-->
			</div>
		</div>
		<!--未完成考试 end-->
	</div>
</div>
<!-- 内容 end -->
