<!-- 路径导航 start -->
<div class="container">
    <ol class="breadcrumb clear-padding-vertical">
        <li><a href="#">首页</a></li>
        <li><a href="schoolDetails">学校信息</a></li>
    </ol>
</div>
<!-- 内容 start -->
<div class="container">
    <form method="post" class="form-horizontal" action="#">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-image: none">
                <h4 class="main-title btn btn-default">{{grade.gradeName}}</h4>
            </div>
            <!--表格 start-->
            <div class="table-responsive clear-border-horizontal" data-pattern="priority-columns">
                <table class="table table-hover table-bordered table-lighter table-striped text-center">
                    <thead>
                        <tr>
                            <th><a [routerLink]="['/updateGrade', {gradeId: grade.id, gradeOwner: stringify(grade.gradeOwner)}]">年级主任</a></th>
                            <th *ngFor="let subject of grade.subjects"><a [routerLink]="['/updateGrade', {gradeId: grade.id, subject: stringify(subject)}]">{{subject.subject}}</a></th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{grade.gradeOwner.n}}</td>
                            <td *ngFor="let subject of grade.subjects">
                                <label>{{subject.teacher.n}}</label>
                            <!--<td><a [routerLink]="['/updateGrade', {gradeId: grade.id}]" class="btn btn-xs btn-primary">编辑</a></td>-->
                            <td><a class="btn btn-xs btn-primary" disabled=true>编辑</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--表格end-->
        </div>
    </form>
</div>
<!-- 内容 end -->