<!-- 路径导航 start -->
<div class="container">
    <ol class="breadcrumb clear-padding-vertical">
        <li><a href="#">首页</a></li>
        <li><a href="schoolList">学校信息</a></li>
    </ol>
</div>
<!-- 路径导航 end -->
<!-- 内容 start -->
<div class="container container-sm">
	<div class="panel panel-default">
		<!-- 检索 start -->
		<form id="searchForm" method="post" action="#">
			<div class="panel-heading search-wrap clearfix">
				<h4 class="main-title btn btn-lg btn-link"><a [routerLink]="['/department']" href="#">{{school.schoolName}} <span>({{school.schoolId}})</span></a></h4>
				<select class="nav navbar-right clear-margin dropdown-select clear-padding-horizontal">
					<option *ngFor="let type of types" [selected]="type == school.schoolType" disabled="disabled">{{type}}</option>
				</select>
			</div>
		</form>
		<!-- 检索 end -->
        <!-- 表格 start -->
                <table class="table table-hover table-bordered table-lighter table-striped">
                    <thead>
                        <tr>
                            <th rowspan="2">年级</th>
                            <th rowspan="3">班级数</th>
                            <th colspan="2" style="text-align: center;">班级信息</th>
                            <th rowspan="2">操作</th>
                        </tr>
                        <ng-container *ngIf="hasBranch===true">
                            <tr>
                                <td style="text-align: center;">文科班</td>
                                <td style="text-align: center;">理科班</td>
                            </tr>
                        </ng-container>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let department of school.departments">
                            <tr *ngFor="let grade of department.grades">
                                <!--<td><a [routerLink]="['/grade', {gradeId:grade.id}]" class="btn btn-xs btn-link" title="设置年级主任及组长">{{grade.gradeName}}</a></td>-->
                                <td><a class="btn btn-xs " title="设置年级主任及组长">{{grade.gradeName}}</a></td>
                                <td>{{grade.classNum}}</td>
                                <ng-container *ngIf="grade.gradeType===true">
                                    <td>
                                        <ng-container *ngFor="let class of grade.classes">
                                            <a *ngIf="class.classType==='art'" [routerLink]="['/updateClass', {departmentName: department.departmentName, gradeId: grade.id, classId: class.id}]" class="btn btn-xs btn-link" title="设置班级相关信息">{{class.className}}</a>
                                            <!--<a *ngIf="class.classType==='art'" class="btn btn-xs" title="设置班级相关信息">{{class.className}}</a>-->
                                        </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngFor="let class of grade.classes">
                                            <a *ngIf="class.classType!=='art'" [routerLink]="['/updateClass', {departmentName: department.departmentName, gradeId: grade.id, classId: class.id}]" class="btn btn-xs btn-link" title="设置班级相关信息">{{class.className}}</a>
                                            <!--<a *ngIf="class.classType==='sci'" class="btn btn-xs" title="设置班级相关信息">{{class.className}}</a>-->
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="grade.gradeType===false">
                                    <td colspan="2">
                                        <ng-container *ngFor="let class of grade.classes">
                                            <a [routerLink]="['/updateClass', {departmentName: department.departmentName, gradeId: grade.id, classId: class.id}]" class="btn btn-xs btn-link" title="设置班级相关信息">{{class.className}}</a>
                                            <!--<a class="btn btn-xs" title="设置班级相关信息">{{class.className}}</a>-->
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <!--<td><a [routerLink]="['/class', {departmentName: department.departmentName, gradeId: grade.id}]" class="btn btn-xs btn-primary">编辑</a></td>-->
                                <td><a class="btn btn-xs btn-primary" disabled=true>编辑</a></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
        <!-- 表格 end -->
	</div>
</div>
<!-- 内容 end -->