<!-- 内容 start -->
<!-- *********************** 任课老师 *********************** -->
<ng-container  *ngIf="_sharedService.userRole==='任课老师' || _sharedService.userRole===''">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route('examList'); false">
								<i class="iconfont-finishedexam"></i>
								<h4>已完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
                                <i>
                                    <strong class="show-date"><i class="glyphicon glyphicon-option-horizontal"></i></strong>
                                    <p class="show-week text-center"><i class="glyphicon glyphicon-option-horizontal"></i></p>
                                </i>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-bestanswer"></i>
								<h4>优标答案</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-viewanswercard"></i>
								<h4>查阅答题卡</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="_sharedService.userRole==='扫描账号'" >
	<div class="container-index container-index-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-muted">
							<a href="#" (click)="route('examList'); false">
								<i class="iconfont-unfinishedexam"></i>
								<h4>未完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('teacherList'); false">
								<i class="iconfont-teacher"></i>
								<h4>教师信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route(); false">
								<i class="iconfont-student"></i>
								<h4>学生信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-muted">
							<a href="#" (click)="route('answerPapers'); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-scan"></i>
								<h4>答卷扫描</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-muted">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route(); false">
								<i class="iconfont-templatemaking"></i>
								<h4>模板制作</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('selectsubject;type=task'); false">
								<i class="iconfont-taskallocation"></i>
								<h4>任务分配</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('selectsubject;type=answers'); false">
								<i class="iconfont-setting"></i>
								<h4>答案设置</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('data/mark/markStatistics'); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route(); false">
								<i class="iconfont-schoolachievement"></i>
								<h4>学校成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-muted">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-muted">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="_sharedService.userRole==='考务老师'">
	<div class="container-index container-index-4" >
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route('examList'); false">
								<i class="iconfont-unfinishedexam"></i>
								<h4>未完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('teacherList'); false">
								<i class="iconfont-teacher"></i>
								<h4>教师信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-student"></i>
								<h4>学生信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-orange">
							<a href="#" (click)="route('answerPapers'); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-templatemaking"></i>
								<h4>模板制作</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route('markTask'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-scan"></i>
								<h4>答卷扫描</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('selectsubject;type=answers'); false">
								<i class="iconfont-setting"></i>
								<h4>答案设置</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('selectsubject;type=task'); false">
								<i class="iconfont-taskallocation"></i>
								<h4>任务分配</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-yellow">
							<a href="#" (click)="route('data/mark/markStatistics'); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-yellow">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-yellow">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-yellow">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-yellow">
							<a href="#" (click)="route(); false">
								<i class="iconfont-schoolachievement"></i>
								<h4>学校成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-yellow">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 班主任 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='班主任'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route('examList'); false">
								<i class="iconfont-finishedexam"></i>
								<h4>已完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-student"></i>
								<h4>学生信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-classes"></i>
								<h4>班级信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-viewanswercard"></i>
								<h4>查阅答题卡</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 备课组长 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='备课组长'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route('selectsubject;type=answers'); false">
								<i class="iconfont-setting"></i>
								<h4>答案设置</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('selectsubject;type=task'); false">
								<i class="iconfont-taskallocation"></i>
								<h4>任务分配</h4>
							</a>
						</div>						
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/mark/markStatistics'); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 学科组长 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='学科组长'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('selectsubject;type=answers'); false">
								<i class="iconfont-setting"></i>
								<h4>答案设置</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('selectsubject;type=task'); false">
								<i class="iconfont-taskallocation"></i>
								<h4>任务分配</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('data/mark/markStatistics'); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 年级主任 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='年级主任'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route('examList'); false">
								<i class="iconfont-unfinishedexam"></i>
								<h4>未完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('addExam'); false">
								<i class="iconfont-student"></i>
								<h4>学生信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('answerPapers'); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/mark/markStatistics'); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 校长 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='校长'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-student"></i>
								<h4>学生信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('teacherList'); false">
								<i class="iconfont-teacher"></i>
								<h4>教师信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('answerPapers'); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('examList'); false">
								<i class="iconfont-unfinishedexam"></i>
								<h4>未完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('markList'); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/mark/markStatistics'); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/classes'); false">
								<i class="iconfont-classesachievement"></i>
								<h4>班级成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-schoolachievement"></i>
								<h4>学校成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 教研室主任 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='教研室主任'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-school"></i>
								<h4>学校信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('teacherList'); false">
								<i class="iconfont-teacher"></i>
								<h4>教师信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-student"></i>
								<h4>考生信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-unfinishedexam"></i>
								<h4>未完成考试</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-schoolachievement"></i>
								<h4>学校成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<!-- *********************** 教研员 *********************** -->
<ng-container *ngIf="_sharedService.userRole==='教研员'">
	<div class="container-index container-index-3">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-setting"></i>
								<h4>答案设置</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route('teacherList'); false">
								<i class="iconfont-teacher"></i>
								<h4>教师信息</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-taskallocation"></i>
								<h4>任务分配</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-examinationcenter"></i>
								<h4>答题卷中心</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-blue">
							<a href="#" (click)="route(); false">
								<i class="iconfont-reportdownload"></i>
								<h4>报表下载</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/result/examinees'); false">
								<i class="iconfont-examineeachievement"></i>
								<h4>考生成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x2 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-onlinemarking"></i>
								<h4>线上阅卷</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-schoolachievement"></i>
								<h4>学校成绩</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route('data/questionsAnalysis'); false">
								<i class="iconfont-itemanalysis"></i>
								<h4>试题分析</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-orange">
							<a href="#" (click)="route(); false">
								<i class="iconfont-markingstatistics"></i>
								<h4>阅卷统计</h4>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="grid clearfix">
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-service"></i>
								<h4>在线客服</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-1x1 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-clouds"></i>
								<h4>云盘</h4>
							</a>
						</div>
						<div class="grid-item table-cell horizontal vertical col col-2x2 col-green">
							<a href="#" (click)="route(); false">
								<i class="iconfont-systemmessage"></i>
								<h4>系统消息</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<!-- 内容 end -->
