/* You can add global styles to this file, and also import other style files */
.ngx-datatable.material .datatable-body-cell {
	border: 1px solid #ddd;
}
.ngx-datatable .datatable-header .datatable-header-cell .datatable-checkbox {
	display: none;
}

/*.panel-footer .online-marking-wrap {
  padding: 22px 0;
}*/

/*.online-marking-statistics {
  position: relative;
  top: 22px;
}
*/

.online-marking-sidebar .padding {
  padding: 5px 8px;
}

.online-marking-sidebar .panel-heading {
  margin-bottom: 10px;
}

.online-marking-sidebar .panel-body {
	padding: 5px;
}

.online-marking-sidebar .form-group {
	margin-bottom: 1px;
}

.online-marking-sidebar .panel-footer {
	padding: 1px 0;
}

.online-marking-sidebar .form-control {
	margin-bottom: 2px;
	height: 28px;
}

.online-marking-sidebar .table {
	margin-top: 10px;
	margin-bottom: 10px;
}

.problemList .ngx-datatable a{
  color: red;
  text-decoration: underline;
}

.online-marking-sidebar .btn-online-marking-score.btn-block {
  display: block;
  width: 22%;
	text-align: center;
}

.rightfd,
.wrongfd,
.plus_mark {
  position: relative;
}

.plus_mark {
  font-size: 42px;
  color: #ff623e;
}

.rightfd i,
.wrongfd i,
.okfd i,
.plus_mark i {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("assets/images/tool_icon0607.png") no-repeat 0 0;
}

.plus_mark i {
  top: -3px;
  right: -14px;
  display: none;
}

.plus_mark em {
  display: block;
  position: absolute;
  width: 18px;
  height: 19px;
  background: url("assets/images/tool_icon0607.png") no-repeat 0 0;
}

.plus_mark em.p {
  display: none;
  right: -14px;
  top: 20px;
  background-position: 0 -22px;
}

.plus_mark em.m {
  display: none;
  right: -14px;
  top: 39px;
  background-position: 0 -41px;
}




