/* You can add global styles to this file, and also import other style files */
.ngx-datatable.material .datatable-body-cell {
	border: 1px solid #ddd;
}
.ngx-datatable .datatable-header .datatable-header-cell .datatable-checkbox {
	display: none;
}

.panel-footer .online-marking-wrap {
  padding: 22px 0;
}
