<!--<mark-select (selectResult)="selectResult($event)" [marks]="marks" [showQuestions]="true"></mark-select>-->
<mark-select (selectResult)="selectResult($event)" [marks]="marks"></mark-select>

<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
