<!-- 内容 start -->
<div class="container container-sm">
	<div class="panel panel-default">
		<!-- 检索 start -->
		<form id="searchForm" method="post" class="form-inline" action="#">
			<div class="panel-heading search-wrap clearfix">
				<h4 class="main-title btn btn-lg btn-link"><a href="/subjectLeader">{{schoolName}} <span>{{schoolId}}</span></a></h4>
				<select class="nav navbar-right clear-margin dropdown-select">
					<option *ngFor="let type of types" [selected]="type == '高中'" disabled="disabled">{{type}}</option>
				</select>
			</div>
		</form>
		<!-- 检索 end -->
		<br/>
		<!-- 表格 start -->
		<div>
			<ngx-datatable
				style="width: 100%"
				class="material striped"
				[rows]="rows"
				[columns]="columns"
				[columnMode]="'force'"
				[headerHeight]="50"
				[footerHeight]="50"
				[rowHeight]="50"
				[limit]="10">
				<ngx-datatable-column
				[headerCheckboxable]="true"
				[checkboxable]="true">					
				</ngx-datatable-column>
				<ngx-datatable-column prop="grade" name="年级"></ngx-datatable-column>
				<ngx-datatable-column prop="classNum" name="班级数"></ngx-datatable-column>
				<ngx-datatable-column prop="artClasses" name="文科班"></ngx-datatable-column>
				<ngx-datatable-column prop="sciClasses" name="理科班"></ngx-datatable-column>
				<ngx-datatable-column prop="studentNum" name="学生数"></ngx-datatable-column>
				<ngx-datatable-column name="操作">
					<ng-template let-row="row" ngx-datatable-cell-template>
						<a [routerLink]="['/classes', row]" id="editClassesInfoBtn" href="#" class="btn btn-default" title="修改">编辑</a>
					</ng-template>
				</ngx-datatable-column>
			</ngx-datatable>
		</div>
		<!-- 表格 end -->
	</div>
</div>
<!-- 内容 end -->